<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aura.smartschool.persistence.MobileMapper">

<select id="selectHome" parameterType="Home" resultType="Integer">
	SELECT count(*) FROM HOME
	WHERE home_id = #{home_id}
</select> 

<select id="signIn" parameterType="Member" resultType="Member">
	SELECT * FROM member
	WHERE mdn=#{mdn} and home_id=#{home_id};
</select>

<select id="getMemberList" parameterType="Home" resultType="Member">
	SELECT * FROM member
	WHERE home_id=#{home_id};
</select>
	
<insert id="insertHome" parameterType="Home">
	INSERT INTO home(home_id) values(#{home_id});
</insert>

<insert id="insertMember" parameterType="Member">
	INSERT INTO 
		MEMBER(home_id, mdn, is_parent, name, relation, photo, school_name, school_grade, school_ban) 
		values(#{home_id}, #{mdn}, #{is_parent}, #{name}, #{relation}, #{photo}, #{school_name}, #{school_grade}, #{school_ban});
</insert>

<update id="updateMember" parameterType="Member">
	UPDATE MEMBER
	<set>
		<if test="mdn != null">mdn=#{mdn},</if>
		<if test="name != null">name=#{name},</if>
		<if test="relation != null">relation=#{relation},</if>
		<if test="photo != null">photo=#{photo},</if>
		<if test="school_name != null">school_name=#{school_name},</if>
		<if test="school_grade != null">school_grade=#{school_grade},</if>
		<if test="school_ban != null">school_ban=#{school_ban}</if>
	</set>
	WHERE member_id = #{member_id} 
</update>

<insert id="insertLocation" parameterType="LocationVO">
	INSERT INTO 
		LOCATION(member_id, lat, lng, address) 
		values(#{member_id}, #{lat}, #{lng}, #{address});
</insert>

<insert id="insertSchool" parameterType="SchoolVO">
	INSERT INTO school(
			name,
			gubun1,
			gubun2,
			zipcode,
			address,
			new_address,
			lat,
			lng,
			homepage,
			fax,
			contact) 
		VALUES (
			#{name},
			#{gubun1},
			#{gubun2},
			#{zipcode},
			HEX(AES_ENCRYPT(#{address}, 'aura')),
			HEX(AES_ENCRYPT(#{new_address}, 'aura')),
			HEX(AES_ENCRYPT(#{lat}, 'aura')),
			HEX(AES_ENCRYPT(#{lng}, 'aura')),
			#{homepage},
			#{fax},
			#{contact})
</insert>

</mapper>