<section id="container">
	<div class="bg"><img src="/home/images/common/img_main_people.png" alt="" /></div>
	<div class="img_phone">
		<div class="login_cont">
			<div class="login_top">
				<h2><img src="/home/images/common/img_login_title.gif" alt="스마트 건강 지킴이 회원가입" /></h2>
				<p class="txt_guide">헬스케어를 이용하기 위하여 전화번호 인증이<br />필요합니다</p>
				<div class="in_input">
					<input type="text" id="_txt_phone" ng-model="credentials.mdn" placeholder="핸드폰번호를 입력해주세요. ('-' 제외)" />
				</div>
				<a href="javascript:;" class="btn_blue" ng-click="requestCertification()">인증번호 요청</a>
				<div class="in_input">
					<input type="text" id="_txt_certifyKey" ng-model="credentials.certifyKey" placeholder="인증번호를 입력해주세요." disabled="disabled"/>
				</div>
			</div>
			<div class="login_bottom">
				<a href="javascript:;" class="btn_gray" id="_btn_login" ng-click="login()" style="cursor:not-allowed">로그인</a>
				<a href="javascript:;" class="btn_gray" id="_btn_guest" ng-click="guest()">게스트모드</a>
				<p class="info_use_message">전화번호는 본인 확인 및 부정 이용방지를 위한 용도로만 <br />사용됩니다. </p>
			</div>
		</div>
	</div>
	<p class="login_txt">
		<img src="/home/images/common/txt_login_summary.png" alt="사용자확인 | 스마트건강지킴이 웹은 앱과 동일한 사용자 환경을 제공합니다. 왼쪽 스마트 폰에서 아래 단계를 따라주시면 쉽게 이용하실 수 있습니다." />
	</p>
	<div class="login_summary">
		<ol>
			<li class="step01">휴대전화번호 입력창에 가입자의 전화번호를 입력 해주세요.</li>
			<li class="step02">인증 번호 요청 버튼을 누르시면 잠시 후 입력하신 전화번호로 <br />인증번호가 전송됩니다.</li>
			<li class="step03">전송 받으신 인증번호를 좌측의 입력창에 입력해주세요.</li>
			<li class="step04">로그인 버튼을 클릭해주세요.</li>
		</ol>
		<p class="txt_guest_mode">가입자가 아닌 경우는 게스트모드를 사용해주세요.<br />가상 학생에 대한 시뮬레이션 서비스를 이용하실 수 있습니다.</p>
	</div>
</section>