<section id="container" class="sub">
	<div class="service_request_area">
		<h2><img src="/home/images/common/txt_service_title.png" alt="서비스신청 | 스마트건강지킴이의 서비스신청 안내입니다." /></h2>
		<table class="info_table">
			<colgroup>
				<col style="width:50%;" />
			<col style="width:50%;" />
			</colgroup>
			<thead>
				<tr>
					<th class="left">통합서비스</th>
					<th>안전,정보알림 서비스</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="2">
						<p>
							<span class="red">안전서비스</span>
							학생들의 등하교 알림서비스 / 실시간 위치확인 / 전체이동경로 확인 / SOS 기능
						</p>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<p>
							<span class="red">학교정보 알리미 서비스</span>
							통신문 확인 / 공지사항 확인 / 연간계획 확인 / 월간계획 확인
						</p>
					</td>
				</tr>
				<tr>
					<td class="left"><span class="green">두뇌종합분석 서비스</span></td>
					<td rowspan="5"><span class="blue">서비스 미제공<br />&lt; 통합서비스 신청시 사용가능 &gt;</span></td>
				</tr>
				<tr>	
					<td class="left"><span class="green">입학사정관제를 위한 건강포트폴리오 서비스</span></td>
				</tr>
				<tr>	
					<td class="left"><span class="green">헬스케어 서비스</span></td>
				</tr>
				<tr>	
					<td class="left"><span class="green">월간 건강매거진 제공 서비스</span></td>
				</tr>
				<tr>	
					<td class="left"><span class="green">모바일상담 서비스</span></td>
				</tr>
				<tr>
					<td class="t_foot left">월 9,000원 (부가세별도)</td>
					<td class="t_foot">무료</td>
				</tr>
				<tr>
					<td class="btn"><a href="javascript:;" ng-click="download('all')">통합서비스 신청서 다운로드</a></td>
					<td class="btn"><a href="javascript:;" ng-click="download('part')">안전,정보알림 서비스 신청서 다운로드</a></td>
				</tr>
			</tbody>
		</table>
		<p class="service_summary">
			<img src="/home/images/common/txt_service_summary.png" alt="가입을 희망하시는분은 신청서 다운로드 하여 안내에 따라 작성하여 신청해주시기 바랍니다. / 기타 상담은 1544-1284로 문의 바랍니다." />
		</p>
	</div>
</section>