<article class="stop_smoking_site_wrap">
	<ul>
		<li>
			<a href="javascript:;" target="_blank">
				<p class="site_name">청소년 금연짱</p>
				<p class="summary">금연교육자료, 금연 노하우, 통계자료 등</p>
			</a>
		</li>
		<li>
			<a href="javascript:;" target="_blank">
				<p class="site_name">한국 금연 운동 협의회</p>
				<p class="summary">금연뉴스, 금연방법, 금연교육자료 등</p>
			</a>
		</li>
		<li>
			<a href="javascript:;" target="_blank">
				<p class="site_name">청소년 흡연음주 예방협회</p>
				<p class="summary">금연활동 및 홍보 동영상, 금연교육신청 등</p>
			</a>
		</li>
	</ul>
</article>