<article class="mobile_consult_wrap">
	<nav class="chatting_type" ng-switch="is_parent">
		<ul ng-switch-when="1">
			<li class="type01"><a href="javascript:;" onclick="UTIL.alert('자녀 본인만 열람 가능합니다.');">학교폭력</a></li>
			<li class="type02 center"><a href="javascript:;" onclick="UTIL.alert('자녀 본인만 열람 가능합니다.');">성폭력</a></li>
			<li class="type03"><a href="javascript:;" onclick="UTIL.alert('자녀 본인만 열람 가능합니다.');">가정폭력</a></li>
			<li class="type04"><a href="javascript:;" onclick="UTIL.alert('자녀 본인만 열람 가능합니다.');">친구관계</a></li>
			<li class="type05 center"><a href="javascript:;" onclick="UTIL.alert('자녀 본인만 열람 가능합니다.');">학업상담</a></li>
			<li class="type06"><a href="javascript:;" onclick="UTIL.alert('자녀 본인만 열람 가능합니다.');">진로상담</a></li>
			<li class="type07"><a href="javascript:;" onclick="UTIL.alert('자녀 본인만 열람 가능합니다.');">심리상담</a></li>
			<li class="type08 center"><a href="javascript:;" onclick="UTIL.alert('자녀 본인만 열람 가능합니다.');">성장상담</a></li>
			<li class="type09"><a href="javascript:;" onclick="UTIL.alert('자녀 본인만 열람 가능합니다.');">흡연상담</a></li>
		</ul>
		<ul ng-switch-when="0">
			<li class="type01" ng-if="pay_date==null"><a href="javascript:;" ng-click="alertPayment()">학교폭력</a></li>
			<li class="type01" ng-if="pay_date!=null"><a href="#!/consultChat?p=7">학교폭력</a></li>
			<li class="type02 center"><a href="#!/consultChat?p=1">성폭력</a></li>
			<li class="type03" ng-if="pay_date==null"><a href="javascript:;" ng-click="alertPayment()">가정폭력</a></li>
			<li class="type03" ng-if="pay_date!=null"><a href="#!/consultChat?p=9">가정폭력</a></li>
			<li class="type04" ng-if="pay_date==null"><a href="javascript:;" ng-click="alertPayment()">친구관계</a></li>
			<li class="type04" ng-if="pay_date!=null"><a href="#!/consultChat?p=8">친구관계</a></li>
			<li class="type05 center"><a href="#!/consultChat?p=2">학업상담</a></li>
			<li class="type06"><a href="#!/consultChat?p=3">진로상담</a></li>
			<li class="type07"><a href="#!/consultChat?p=4">심리상담</a></li>
			<li class="type08 center"><a href="#!/consultChat?p=5">성장상담</a></li>
			<li class="type09"><a href="#!/consultChat?p=6">흡연상담</a></li>
		</ul>
	</nav>
	<a href="javascript:;" class="btn_chat_history"><img src="/images/aura_in_app/ico_message.png" alt="" /> 상담기록내역</a>
	<a href="tel:15441284" class="btn_call_center">
		<p>스마트안전건강지킴이 상담센터</p>
		<span class="tel">1544 - 1284</span>
	</a>
</article>