<div ng-scrollbars ng-scrollbars-config="config" id="qna_write_wrap">
	<article class="qna_write_wrap">
		<p class="txt_guide">궁금한 점이 있으시면 무엇이든지 물어보세요.<br />
		바로 답변 드리도록 하겠습니다.</p>
		<form id="">
			<fieldset>
				<legend class="screen_out">Q&A</legend>
				<div class="in_input">
					<input type="text" class="ng-scope" id="text-title" ng-model="title" placeholder="제목을 입력하세요." />
				</div>
				<div class="in_textarea">
					<textarea id="text-content" ng-model="content" placeholder="문의 내용을 입력해주세요."></textarea>
				</div>
				<button type="submit" class="btn_common_blue_line box_round mg_top30" ng-click="addQna()">문의하기</button>
			</fieldset>
		</form>
	</article>
</div>