<article class="pesonal_sports_wrap">
	<div ng-scrollbars ng-scrollbars-config="config" id="pesonal_sports_wrap" style="margin-top:8px;">
		<div class="sports_list">
			<ul>
				<li ng-repeat="row in training_list">
					<a href="{{row.videoUrl}}">
						<div class="photo"><img ng-src="{{row.thumbnailUrl}}" alt="" /></div>
						<div class="info">
							<p class="subject">{{row.title}}</p>
							<span class="time">{{(row.duration - row.duration%60)/60}}분 {{row.duration%60}}초</span>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</article>