<div ng-controller="ChallengeCtrl">
	<div class="row">
		<div class="col-lg-12">
			<h3 class="page-header">도전!건강! 관리</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					<i class="fa fa-list fa-lg"></i> 도전!건강! 목록
				</div>
				<table class="table table-striped">
					<colgroup span="3">
						<col width="30%" />
						<col width="*" />
						<col width="20%" />
					</colgroup>
					<thead>
						<tr>
							<td>편집</td>
							<td>제목</td>
							<td>등록일자</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="challenge in challenges">
							<td>
								<button class="btn btn-default btn-xs" ng-click="viewChallenge(challenge)">
									<span class="glyphicon glyphicon-pencil"></span> 순위설정
								</button>
							</td>
							<td>{{magazine.title}}</td>
							<td>{{created}}</td>
						</tr>
						<tr>
							<td colspan="7" style="text-align:center">
								<pagination boundary-links="true" total-items="totalCount" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChange()"></pagination>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					<i class="fa fa-edit fa-lg"></i> 순위설정
				</div>
				<div class="panel-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label for="titleText" class="col-sm-2 control-label">제목</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" ng-model="title" />
							</div>
						</div>
						<div class="form-group">
							<label for="titleText" class="col-sm-2 control-label">내용</label>
							<div class="col-sm-10">
								<textarea type="text" class="form-control" ng-model="content"></textarea>
							</div>
						</div>
						<div class="form-group" ng-repeat="row in imgs">
							<label for="noti_dateText" class="col-sm-2 control-label">이미지 {{row.code}}</label>
							<div class="col-sm-10">
								{{row.img}}
							</div>
						</div>
						<div class="form-group">
							<label for="titleText" class="col-sm-2 control-label">순위</label>
							<div class="col-sm-10">
								<select class="form-control" ng-model="rank">
									<option value="">Select Rank-------</option>
									<option value="{{num}}" ng-repeat="num in [1,2,3,4,5]">{{num}}</option>
								</select>
							</div>
						</div>
					</form> 
					<div class="row">
						<div class="col-lg-12">
							<button type="button" ng-click="setupRank()" class="btn btn-info btn-block" ng-class="{disabled : mode != 'rank'}"><i class="fa fa-save fa-lg"></i> Save</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>