<div ng-controller='StatisticCtrl'>
	<div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">통계</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
			<div class="panel panel-info">
				<div class="panel-heading">
					<i class="fa fa-list fa-lg"></i> 평균 및 분포
				</div>
				
				<div class="panel-body">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="control-label col-md-1" for="sido">지역</label>
							<div class="col-md-1">
								<select id="sido" class="form-control" ng-model="select_sido" ng-change="getGugun()">
			    					<option value=""  >시 선택----</option>
			    					<option value="서울" >서울</option>
			    					<option value="부산">부산</option>
			    					<option value="대구">대구</option>
			    					<option value="인천">인천</option>
			    					<option value="광주">광주</option>
			    					<option value="대전">대전</option>
			    					<option value="울산">울산</option>
			    					<option value="경기">경기</option>
			    					<option value="강원">강원</option>
			    					<option value="전남">전남</option>
			    					<option value="전북">전북</option>
			    					<option value="충남">충남</option>
			    					<option value="충북">충북</option>
			    					<option value="경남">경남</option>
			    					<option value="경북">경북</option>
			    					<option value="세종">세종</option>
			    					<option value="제주">제주</option>
			    				</select>
							</div>
							<div class="col-md-1">
								<select class="form-control" ng-model="select_gugun" ng-change="getSchoolByAddr()" ng-disabled="gugunDisabled">
							    	<option value="" selected >전체----</option>
			    					<option value="{{gugun.gugun}}"  ng-repeat = "gugun in gugunList">{{gugun.gugun}}</option>
			    				</select>
							</div>
							<div class="col-md-2">
							    <select class="form-control" ng-model="select_school" ng-change="getSchoolGrade()" ng-disabled="schoolDisabled">
							    	<option value="" selected>학교 선택----</option>
			    					<option value="{{school.school_id}}"  ng-repeat = "school in schoolList">{{school.school_name}}</option>
			    				</select>
							</div>
							<label class="control-label col-md-1" for="sex">성별</label>
							<div class="col-md-1">
								<select id="sex" class="form-control" ng-model="select_sex">
							    	<option value="" selected >전체</option>
			    					<option value="M">남</option>
			    					<option value="F">여</option>
			    				</select>
							</div>
							<label class="control-label col-md-1" for="grade">학년</label>
							<div class="col-md-1">
								<select id="grade" class="form-control" ng-model="select_grade" ng-change="getSchoolClass()" ng-disabled="gradeDisabled">
							    	<option value="" selected>전 학년</option>
			    					<option value="{{grade.school_grade}}"  ng-repeat ="grade in gradeList">{{grade.school_grade}}학년</option>
			    				</select>
							</div>
							<label class="control-label col-md-1" for="class" ng-disabled="classDisabled">반</label>
							<div class="col-md-1">
								<select id="class" class="form-control" ng-model="select_class" ng-disabled="classDisabled">
							    	<option value="" selected>전체</option>
			    					<option value="{{class.school_class}}"  ng-repeat ="class in classList">{{class.school_class}}반</option>
			    				</select>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-1" for="">정보</label>
							<div class="col-md-1">
								<select class="form-control" ng-model="select_menu" ng-change="getSubmenu()">
							    	<option value="" selected>선 택----</option>
									<option value="HEIGHT">신장</option>
									<option value="WEIGHT">체중</option>
									<option value="BMI">체형</option>
									<option value="SMOKE">흡연</option>
								</select>
							</div>
							<div class="col-md-1">
								<select class="form-control" ng-model="select_submenu" ng-disabled="submenuDisabled">
									<option value="" selected>선 택----</option>
									<option value="{{submenu}}"  ng-repeat = "submenu in submenuList">{{submenu}}</option>
			    				</select>
							</div>
							<label class="control-label col-md-1" for="">명단 및 통계</label>
							<div class="col-md-1">
								<select class="form-control" ng-model="select_output" ng-change="getOutput()">
									<option value="" selected>선 택----</option>
									<option value="{{output}}"  ng-repeat = "output in outputList">{{output}}</option>
			    				</select>
							</div>
							<label class="control-label col-md-1" for="">측정 월</label>
							<div class="col-md-2">
								<input type="text" datepicker-popup="yyyy-MM" class="form-control" placeholder="ex)2015-12" ng-model="measure_date" ng-enter="getResult()"/>
							</div>
							<div class="col-md-3">
								<button type="button" ng-click="getResult()" class="btn btn-info btn-block"></i>검색</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>  			

	<div class="row">
		<div class="col-lg-12">	
			<div class="panel panel-info">
				<div class="panel-heading">
					<i class="fa fa-list fa-lg"></i> 결과 목록
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<td>측정일</td>
							<td ng-show="select_output=='명단'">이름</td>
							<td ng-show="select_output=='명단'">학교명</td>
							<td ng-show="select_output=='명단'">학년</td>
							<td ng-show="select_output=='명단'">반</td>
							<td ng-show="select_output=='명단'">성별</td>
							<td ng-show="select_menu!=''">{{select_menu}}</td>
							<td ng-show="select_output=='백분율'">백분율</td>
						</tr>
					</thead>

			    	<tbody>
					    <tr ng-repeat="r in results">
					    	<td>{{ r.output_date}}</td>
					    	<td ng-show="select_output=='명단'">{{ r.name}}</td>
						    <td ng-show="select_output=='명단'">{{ r.school_name}}</td>
						    <td ng-show="select_output=='명단'">{{ r.school_grade}}</td>
						    <td ng-show="select_output=='명단'">{{ r.school_class}}</td>
						    <td ng-show="select_output=='명단'">{{ r.sex}}</td>
						    <td ng-show="select_menu!=''">{{ r.val}}</td>
						    <td ng-show="select_output=='백분율'">{{r.count}}</td>
					    </tr>
				    </tbody>
			    </table>
				
			</div>	
		</div>
	</div>

</div>