<!-- 도전건강 메인 -->
<div class="load challenge_main" ng-show="challenge_mode=='list'">
	<header class="header">
		<h1>도전!!건강!!</h1>
		<a href="javascript:;" ng-click="movePrevUrl()" class="btn_page_back"><img src="/images/aura_in_app/btn_page_back.png" alt="뒤로" /></a>
		<button class="btn_gnb" onclick="gnbShow()"></button>
	</header>
	<section class="gnb_wrap">
		<div class="dim_area" onclick="gnbHide()"></div>
		<button type="button" class="btn_layer_close" onclick="gnbHide()"></button>
		<div class="gnb_area">
			<div class="info_area">
				<img src="/images/aura_in_app/ico_gnb_home.png" alt="" class="ico_home" />
				<p class="name">{{home_id}}</p>
				<a href="javascript:;" class="btn_modify" ng-click="editHomeId()">변경하기</a>
			</div>
			<nav class="menu_area">
				<ul>
					<li><a href="#!/noti.html">공지사항</a></li>
					<li><a href="#!/qna/list.html">Q&amp;A</a></li>
					<li><a href="#!/app/info.html">정보</a></li>
					<li><a href="#!/qna/list.html">서비스문의</a></li>
					<li><a href="javascript:;" onclick="alert('고객센터로 문의하시기 바랍니다.\nTEL: 1544-1284 '); return false;">서비스탈퇴</a></li>
					<li><a href="javascript:;" ng-click="logout()">로그아웃</a></li>
				</ul>
			</nav>
		</div>
	</section>
	
	<article class="challenge_main_wrap">
		<div class="visual"><img src="/images/aura_in_app/img_challenge_visual.png" alt="매달 올라오는 수기를 통해 건강해진 친구들의 
		모습을 확인할 수 있어요. 누구든 도전할 수 있어요!" /></div>
		<div class="challenge_area">
			<div class="box">
				<div class="note_list">
					<h4>수기안내</h4>
					<ul>
						<li class="num0{{$index+1}}" ng-repeat="challenge in challenge_list"><a href="javascript:;">{{challenge.title}}</a></li>
					</ul>
				</div>
				
				<div class="prize_list">
					<h4>상품</h4>
					<ul>
						<li>
							<div class="photo"><img src="/images/aura_in_app/img_challenge_prize01.png" alt="" /></div>
							<div class="info">
								<dl>
									<dt>1등 1명</dt>
									<dd>소니 헤드셋</dd>
								</dl>
							</div>
						</li>
						<li>
							<div class="photo"><img src="/images/aura_in_app/img_challenge_prize02.png" alt="" /></div>
							<div class="info">
								<dl>
									<dt>2등 5명</dt>
									<dd>문화상품권5매</dd>
								</dl>
							</div>
						</li>
						<li>
							<div class="photo"><img src="/images/aura_in_app/img_challenge_prize03.png" alt="" /></div>
							<div class="info">
								<dl>
									<dt>3등 50명</dt>
									<dd>보조배터리</dd>
								</dl>
							</div>
						</li>
						<li>
							<div class="photo"><img src="/images/aura_in_app/img_challenge_prize04.png" alt="" /></div>
							<div class="info">
								<dl>
									<dt>4등 100명</dt>
									<dd>이어폰</dd>
								</dl>
							</div>
						</li>
						<li>
							<div class="photo"><img src="/images/aura_in_app/img_challenge_prize05.png" alt="" /></div>
							<div class="info">
								<dl>
									<dt>5등 1000명</dt>
									<dd>열쇠고리</dd>
								</dl>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<a href="javascript:;" class="btn_common_blue_line box_round" ng-click="challenge_mode='write'">도전건강! 도전기 응모하기!</a>
		</div>
	</article>
</div>

<!-- 도전건강 응모 -->
<div class="load challenge_app" ng-show="challenge_mode=='write'">
	<header class="header">
		<h1>도전!!건강!!</h1>
		<a href="javascript:;" ng-click="clearChallenge()" class="btn_page_back"><img src="/images/aura_in_app/btn_page_back.png" alt="뒤로" /></a>
		<button class="btn_gnb" onclick="gnbShow()"></button>
	</header>
	<section class="gnb_wrap">
		<div class="dim_area" onclick="gnbHide()"></div>
		<button type="button" class="btn_layer_close" onclick="gnbHide()"></button>
		<div class="gnb_area">
			<div class="info_area">
				<img src="/images/aura_in_app/ico_gnb_home.png" alt="" class="ico_home" />
				<p class="name">{{home_id}}</p>
				<a href="javascript:;" class="btn_modify" ng-click="editHomeId()">변경하기</a>
			</div>
			<nav class="menu_area">
				<ul>
					<li><a href="#!/noti.html">공지사항</a></li>
					<li><a href="#!/qna/list.html">Q&amp;A</a></li>
					<li><a href="#!/app/info.html">정보</a></li>
					<li><a href="#!/qna/list.html">서비스문의</a></li>
					<li><a href="javascript:;" onclick="alert('고객센터로 문의하시기 바랍니다.\nTEL: 1544-1284 '); return false;">서비스탈퇴</a></li>
					<li><a href="javascript:;" ng-click="logout()">로그아웃</a></li>
				</ul>
			</nav>
		</div>
	</section>
	
	<article class="challenge_app_wrap">
		<form>
			<fieldset>
				<legend class="screen_out">도전건강 응모</legend>
				<div class="in_input">
					<input type="text" ng-model="challenge.title" placeholder="제목을 입력하세요" />
				</div>
				<div class="in_textarea">
					<textarea ng-model="challenge.content" placeholder="내용을 입력하세요"></textarea>
				</div>
				<div class="in_file" ng-repeat="attach in filenames">
					<input type="text" placeholder="이미지 (ex A.jpg / D.jpg, 10MB이하)" ng-model="filenames[$index].name" readonly="readonly" />
					<label class="btn_file" type="file" ngf-select="uploadFiles($file,$index)" ngf-accept="'image/jpeg'" ngf-pattern="'.jpg'" ngf-validate="{size:{min:'10B', max:'10MB'}}">찾아보기</label>
				</div>
				<div class="half_wrap mg_top15">
					<button type="submit" class="btn_common_blue box_round" ng-click="addChallenge()">확인</button>
					<button type="button" class="btn_common_blue_line box_round" ng-click="clearChallenge()">취소</button>
				</div>
			</fieldset>
		</form>
	</article>
</div>