<div class="load mobile_consult">
	<header class="header">
		<h1>모바일상담</h1>
		<a href="javascript:;" ng-click="movePrevUrl();" class="btn_page_back"><img src="/images/aura_in_app/btn_page_back.png" alt="뒤로" /></a>
		<button class="btn_gnb" onclick="gnbShow()"></button>
	</header>
	<section class="gnb_wrap">
		<div class="dim_area" onclick="gnbHide()"></div>
		<button type="button" class="btn_layer_close" onclick="gnbHide()"></button>
		<div class="gnb_area">
			<div class="info_area">
				<img src="/images/aura_in_app/ico_gnb_home.png" alt="" class="ico_home" />
				<p class="name">{{home_id}}</p>
				<a href="javascript:;" class="btn_modify" ng-click="editHomeId()">변경하기</a>
			</div>
			<nav class="menu_area">
				<ul>
					<li><a href="#!/noti.html">공지사항</a></li>
					<li><a href="#!/qna/list.html">Q&amp;A</a></li>
					<li><a href="#!/app/info.html">정보</a></li>
					<li><a href="#!/qna/list.html">서비스문의</a></li>
					<li><a href="javascript:;" onclick="alert('고객센터로 문의하시기 바랍니다.\nTEL: 1544-1284 '); return false;">서비스탈퇴</a></li>
					<li><a href="javascript:;" ng-click="logout()">로그아웃</a></li>
				</ul>
			</nav>
		</div>
	</section>
	
	<article class="mobile_consult_wrap">
		<nav class="chatting_type">
			<ul>
				<li class="type01"><a href="javascript:;">학교폭력</a></li>
				<li class="type02 center"><a href="javascript:;">성폭력</a></li>
				<li class="type03"><a href="javascript:;">가정폭력</a></li>
				<li class="type04" ng-if="is_parent==0"><a href="javascript:;">친구관계</a></li>
				<li class="type04" ng-if="is_parent==1" ng-click="counselAlert()"><a href="javascript:;">친구관계</a></li>
				<li class="type05 center" ng-if="is_parent==0"><a href="javascript:;">학업상담</a></li>
				<li class="type05 center" ng-if="is_parent==1" ng-click="counselAlert()"><a href="javascript:;">학업상담</a></li>
				<li class="type06" ng-if="is_parent==0"><a href="javascript:;">진로상담</a></li>
				<li class="type06" ng-if="is_parent==1" ng-click="counselAlert()"><a href="javascript:;">진로상담</a></li>
				<li class="type07" ng-if="is_parent==0"><a href="javascript:;">심리상담</a></li>
				<li class="type07" ng-if="is_parent==1" ng-click="counselAlert()"><a href="javascript:;">심리상담</a></li>
				<li class="type08 center" ng-if="is_parent==0"><a href="javascript:;">성장상담</a></li>
				<li class="type08 center" ng-if="is_parent==1" ng-click="counselAlert()"><a href="javascript:;">성장상담</a></li>
				<li class="type09" ng-if="is_parent==0"><a href="javascript:;">흡연상담</a></li>
				<li class="type09" ng-if="is_parent==1" ng-click="counselAlert()"><a href="javascript:;">흡연상담</a></li>
			</ul>
		</nav>
		<a href="javascript:;" class="btn_chat_history"><img src="/images/aura_in_app/ico_message.png" alt="" /> 상담기록내역</a>
		<a href="tel:15441284" class="btn_call_center">
			<p>스마트안전건강지킴이 상담센터</p>
			<span class="tel">1544 - 1284</span>
		</a>
	</article>
</div>