<!-- 식단/영양 -->
<div class="load menu">
	<header class="header">
		<h1>식단/영양</h1>
		<a href="javascript:;" ng-click="movePrevUrl();" class="btn_page_back"><img src="/images/aura_in_app/btn_page_back.png" alt="뒤로" /></a>
		<button class="btn_gnb" onclick="gnbShow()"></button>
	</header>
	<section class="gnb_wrap">
		<div class="dim_area" onclick="gnbHide()"></div>
		<button type="button" class="btn_layer_close" onclick="gnbHide()"></button>
		<div class="gnb_area">
			<div class="info_area">
				<img src="/images/aura_in_app/ico_gnb_home.png" alt="" class="ico_home" />
				<p class="name">{{home_id}}</p>
				<a href="javascript:;" class="btn_modify" ng-click="editHomeId()">변경하기</a>
			</div>
			<nav class="menu_area">
				<ul>
					<li><a href="#!/noti.html">공지사항</a></li>
					<li><a href="#!/qna/list.html">Q&amp;A</a></li>
					<li><a href="#!/app/info.html">정보</a></li>
					<li><a href="#!/qna/list.html">서비스문의</a></li>
					<li><a href="javascript:;" onclick="alert('고객센터로 문의하시기 바랍니다.\nTEL: 1544-1284 '); return false;">서비스탈퇴</a></li>
					<li><a href="javascript:;" ng-click="logout()">로그아웃</a></li>
				</ul>
			</nav>
		</div>
	</section>
	
	<article class="menu_wrap">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="top_area">
					<p class="title">급식정보({{MM}}월)</p>
					<span class="arrow left" ng-click="prevMonth()"></span>
					<span class="arrow right" ng-click="nextMonth()"></span>
				</div>
				<div ng-scrollbars ng-scrollbars-config="config" style="width:343px; height:393px;">
					<div class="week_menu_list">
						<dl ng-repeat="row in menu_list">
							<dt>{{row.date}}</dt>
							<dd>
								<dl class="meal">
									<dt>아침</dt>
									<dd ng-bind-html="replaceMenuString(row.breakfast)"></dd>
								</dl>
								<dl class="meal">
									<dt>점심</dt>
									<dd ng-bind-html="replaceMenuString(row.lunch)"></dd>
								</dl>
								<dl class="meal">
									<dt>저녁</dt>
									<dd ng-bind-html="replaceMenuString(row.dinner)"></dd>
								</dl>
							</dd>
						</dl>
					</div>
				</div>
				<div class="allergy_info">
					<dl>
						<dt>알레르기정보</dt>
						<dd>① 난류 ② 우유 ③ 메밀 ④ 땅콩 ⑤ 대두 ⑥ 밀 ⑦ 고등어 ⑧ 게 ⑨ 새우 ⑩ 돼지고기 ⑪ 복숭아 ⑫ 토마토 ⑬ 아황산염</dd>
					</dl>
				</div>
			</div>
		</div>
	</article>
</div>