<div class="load growth_main" ng-show="!view_mode">
	<header class="header">
		<h1>성장발달</h1>
		<a href="javascript:;" ng-click="movePrevUrl()" class="btn_page_back"><img src="/images/aura_in_app/btn_page_back.png" alt="뒤로" /></a>
		<button class="btn_gnb" ng-click="toggleSetting()"></button>
	</header>
	<section class="gnb_wrap" style="display:{{setting_display}}">
		<div class="dim_area" ng-click="toggleSetting();"></div>
		<button type="button" class="btn_layer_close" ng-click="toggleSetting();"></button>
		<div class="gnb_area">
			<div class="info_area">
				<img src="/images/aura_in_app/ico_gnb_home.png" alt="" class="ico_home" />
				<p class="name">{{home_id}}</p>
				<a href="javascript:;" class="btn_modify" ng-click="editHomeId()">변경하기</a>
			</div>
			<nav class="menu_area">
				<ul>
					<li><a href="#!/noti.html">공지사항</a></li>
					<li><a href="#!/qna/list.html">Q&amp;A</a></li>
					<li><a href="#!/app/info.html">정보</a></li>
					<li><a href="#!/qna/list.html">서비스문의</a></li>
					<li><a href="javascript:;">서비스탈퇴</a></li>
				 </ul>
			</nav>
		</div>
	</section>
	
	<article class="growth_main_wrap">
		<div class="row_top">
			<p class="title"><span class="name">{{student_name}}님</span>의 성장발달 정보입니다.</p>
			<a href="javascript:;" class="btn_detail_view" ng-show="history_count == 0" onclick="alert('2번 이상 측정 시 보여집니다.');"><img src="/images/aura_in_app/ico_chart.png" alt="" /> 상세이력</a>
			<a href="javascript:;" class="btn_detail_view" ng-show="history_count > 0" ng-click="getMeasureHistoryList('height')"><img src="/images/aura_in_app/ico_chart.png" alt="" /> 상세이력</a>
		</div>
		<div class="row_middle">
			<div class="chart_area">
				<div class="row_label">
					<span><em>200.0</em></span>
					<span><em>190.0</em></span>
					<span><em>180.0</em></span>
					<span><em>170.0</em></span>
					<span><em>160.0</em></span>
					<span><em>150.0</em></span>
					<span><em>140.0</em></span>
					<span><em>130.0</em></span>
					<span><em>120.0</em></span>
					<span><em>110.0</em></span>
				</div>
				<div class="chart">
					<div class="data01"><span><em>{{growth_info.value}}</em></span></div>
					<div class="data02"><span><em>{{growth_info.averageOfStandard}}</em></span></div>
					<div class="data03"><span><em>{{growth_info.averageOfSchool}}</em></span></div>
					<div class="data04"><span><em>{{growth_info.averageOfLocal}}</em></span></div>
					<div class="data05"><span><em>{{growth_info.averageOfNation}}</em></span></div>
				</div>
			</div>
			<div class="col_label">
				<span>나</span>
				<span>표준</span>
				<span>학교평균</span>
				<span>지역평균</span>
				<span>전국평균</span>
			</div>
		</div>
		<div class="row_bottom">
			<dl class="data01">
				<dt>전국 백분율</dt>
				<dd>상위 {{growth_info.rank}}%</dd>
			</dl>
			<dl class="data02">
				<dt>전월 대비</dt>
				<dd>{{convertRound(growth_info.value - growth_info.beforeValue)}}cm증가</dd>
			</dl>
			<dl class="data03">
				<dt>종합평가</dt>
				<dd>{{growth_info.gradeString}}</dd>
			</dl>
		</div>
		<a href="#!/training.html?p={{growth_info.gradeId}}" class="btn_recommend_exercise"><img src="/images/aura_in_app/img_health_tool.png" alt=""> 신장 추천 운동</a>
	</article>
</div>

<div class="load growth_detail" ng-show="view_mode">
	<header class="header">
		<h1>성장발달</h1>
		<a href="javascript:;" ng-click="view_mode=false" class="btn_page_back"><img src="/images/aura_in_app/btn_page_back.png" alt="뒤로" /></a>
		<button class="btn_gnb" ng-click="toggleSetting()"></button>
	</header>
	<section class="gnb_wrap" style="display:{{setting_display}}">
		<div class="dim_area" ng-click="toggleSetting();"></div>
		<button type="button" class="btn_layer_close" ng-click="toggleSetting();"></button>
		<div class="gnb_area">
			<div class="info_area">
				<img src="/images/aura_in_app/ico_gnb_home.png" alt="" class="ico_home" />
				<p class="name">{{home_id}}</p>
				<a href="javascript:;" class="btn_modify" ng-click="editHomeId()">변경하기</a>
			</div>
			<nav class="menu_area">
				<ul>
					<li><a href="#!/noti.html">공지사항</a></li>
					<li><a href="#!/qna/list.html">Q&amp;A</a></li>
					<li><a href="#!/app/info.html">정보</a></li>
					<li><a href="#!/qna/list.html">서비스문의</a></li>
					<li><a href="javascript:;">서비스탈퇴</a></li>
				 </ul>
			</nav>
		</div>
	</section>
	
	<article class="growth_detail_wrap">
		<div class="row_top">
			<p class="title"><span class="name">{{student_name}}님</span>의 신장 상세이력입니다.</p>
		</div>
		<div class="row_middle">
			<div class="chart_area">
				<div class="row_label">
					<span><em>200.0</em></span>
					<span><em>190.0</em></span>
					<span><em>180.0</em></span>
					<span><em>170.0</em></span>
					<span><em>160.0</em></span>
					<span><em>150.0</em></span>
					<span><em>140.0</em></span>
					<span><em>130.0</em></span>
					<span><em>120.0</em></span>
					<span><em>110.0</em></span>
				</div>
				<div class="chart">
					<!-- 표준 text -->
					<div class="standard_txt">표준:{{growth_info.averageOfStandard}}cm</div>
					<!-- 평균 키 -->
					<div class="standard_bar">{{growth_info.averageOfStandard}}</div>
					<div class="data{{row.month}}" ng-repeat="row in list"><span ng-if="row.value"><em>{{row.value}}</em></span></div>
				</div>
			</div>
			<div class="col_label">
				<span>01</span>
				<span>02</span>
				<span>03</span>
				<span>04</span>
				<span>05</span>
				<span>06</span>
				<span>07</span>
				<span>08</span>
				<span>09</span>
				<span>10</span>
				<span>11</span>
				<span>12</span>
			</div>
		</div>
		<h2>올해 신장 성장</h2>
		<div class="row_bottom">
			<dl class="data01">
				<dt>전국평균</dt>
				<dd>{{avgOfNation}}cm</dd>
			</dl>
			<dl class="data02">
				<dt>지역평균</dt>
				<dd>{{averageOfLocal}}cm</dd>
			</dl>
			<dl class="data03">
				<dt>나의성장</dt>
				<dd>{{growth}}cm</dd>
			</dl>
		</div>
	</article>
</div>