<div class="load join">
	<article class="join_wrap">
		<header class="header">
			<h1>부모 회원가입</h1>
			<a href="#!/login.html" class="btn_page_back"><img src="/images/aura_in_app/btn_page_back.png" alt="뒤로" /></a>
		</header>
		<form id="">
			<fieldset>
				<legend class="screen_out">회원가입 정보</legend>
				<!-- 사진 들어가는 영역 -->
				<div class="in_photo">
					<span ng-if="profile_text != null">{{profile_text}}</span>
				</div>
				<div class="photo_add">
					<span ngf-select="setProfile($file)" ngf-pattern="'.png,.jpg,.gif'" ngf-validate="{size:{min:'10B', max:'10MB'}}" class="btn_photo_add">사진등록 +</span>
				</div>
				<div class="in_input">
					<input type="text" id="txt-home-id" ng-model="v_home_id" placeholder="가족명" />
				</div>
				<div class="in_input">
					<input type="text" id="txt-name" ng-model="v_name" placeholder="이름" />
				</div>
				<div class="in_input">
					<input type="text" id="txt" ng-model="v_relation" placeholder="관계, 예)엄마, 아들" />
				</div>
				
				<ul class="agree_wrap">
					<li>
						<input type="checkbox" id="check01" name="check01" ng-model="agree1" />
						<label for="check01">이용약관에 동의함</label>
						<button type="button" class="btn_view_cont" onclick="commonLayerOpen('use_rule')">내용보기</button>
					</li>
					<li>
						<input type="checkbox" id="check02" name="check02" ng-model="agree2" />
						<label for="check02">개인정보 수집 및 이용에 동의함</label>
						<button type="button" class="btn_view_cont" onclick="commonLayerOpen('use_rule')">내용보기</button>
					</li>
					<li>
						<input type="checkbox" id="check03" name="check03" ng-model="agree3" />
						<label for="check03">위치기반서비스에 동의함</label>
						<button type="button" class="btn_view_cont" onclick="commonLayerOpen('use_rule')">내용보기</button>
					</li>
					<li class="agree_all">
						<input type="checkbox" id="check_all" ng-click="checkAll()" />
						<label for="check_all">모든 이용약관에 동의합니다.</label>
					</li>
				</ul>
				<button type="submit" class="btn_common_blue_line" ng-click="join()">가입완료</button>
			</fieldset>
		</form>
	</article>
	<section class="common_layer use_rule">
		<div class="dim_area" onclick="commonLayerClose('use_rule')"></div>
		<div class="layer_box">
			<h3>이용약관</h3>
			<div class="scroll_area" ng-scrollbars ng-scrollbars-config="config" style="width:256px;">
				<p style="width:256px;">
					제 1 조 (목적)<br />
					이 약관은 주식회사 아우라(이하 “회사”)이 제공하는
					스마트 건강지킴이  (이하 “서비스”)를 사용하고자 하는 
					이용자(이하 “회원”)가 “회사”가 제공하는 “서비스”
					를 이용함에 있어 “회사”와 “회원”과의 권리, 의무 및 
					책임사항, 및 “회원”이 “서비스”을 설치하고 이용 하는 
					데에 따른 이용조건 및 절차 등 기본적인 사항을 규정함을 
					목적으로 합니다..<br /><br /><br />

					제 2 조 (약관의 효력 및 변경) <br />
					1) 이 약관은 “서비스” 설치 과정 상에 공시되며 이에
					대하여 “회원”이 동의함으로써 효력이 발생합니다. 
					만약, 동 약관에 동의하지 않으시면 프로그램 설치 시
					‘취소’버튼을 누르시면 됩니다. 이 경우 “서비스”는
					설치치되지 아니합니다.
				</p>
			</div>
		</div>
	</section>
</div>