<div class="load login">
	<article class="login_wrap">
		<h1><img src="/images/aura_in_app/img_login_logo.png" alt="스마트 안전건강지킴이" /></h1>
		<form id="">
			<fieldset>
				<legend class="screen_out">로그인 정보</legend>
				<div class="in_input">
					<input type="text" id="txt-home-id" ng-model="v_home_id" placeholder="가족명" />
				</div>
				<div class="in_input">
					<input type="text" id="txt-member-name" ng-model="v_name" placeholder="이름" />
				</div>
				<button type="submit" class="btn_common_gray mg_top10" ng-click="login()">로그인</button>
			</fieldset>
		</form>
		<div class="forget_account">
			<a href="javascript:;" class="btn_forget_account">가족명을 잃어버리셨나요?</a>
		</div>
		<p class="join_message">아직 회원이 아니세요?</p>
		<a href="#!/join.html" class="btn_common_blue_line mg_top15">회원 가입하기</a>
	</article>
</div>