<div class="load login">
	<article class="login_wrap">
		<h1><img src="/images/aura_in_app/img_login_logo.png" alt="스마트 안전건강지킴이" /></h1>
		<form id="">
			<fieldset>
				<legend class="screen_out">로그인 정보</legend>
				<div class="in_input">
					<input type="text" id="txt-home-id" ng-model="v_home_id" placeholder="가족명" />
				</div>
				<div class="in_input">
					<input type="text" id="txt-member-name" ng-model="v_name" placeholder="이름" />
				</div>
				<button type="submit" class="btn_common_gray mg_top10" ng-click="login()">로그인</button>
			</fieldset>
		</form>
		<div class="forget_account">
			<a href="javascript:;" class="btn_forget_account" onclick="commonLayerOpen('find_family')">가족명을 잃어버리셨나요?</a>
		</div>
		<p class="join_message">아직 회원이 아니세요?</p>
		<a href="#!/join.html" class="btn_common_blue_line mg_top15">회원 가입하기</a>
	</article>
</div>

<!-- 가족명 찾기 -->
<section class="common_layer find_family">
	<div class="dim_area" ng-click="clearLayer()"></div>
	<div class="layer_box">
		<h3>가족명 찾기</h3>
		<p class="txt_guide">가입시 등록하셨던 전화번호로 가족명을 찾으실 수 있습니다.</p>
		<form id="">
			<fieldset>
				<legend class="screen_out">가족명 찾기</legend>
				<div class="in_input mg_top15">
					<input type="tel" ng-model="phone" placeholder="전화번호입력" ng-change="checkStatus()" ng-disabled="certify_statue?'disabled':''" ng-class="certify_statue?'':''"/>
				</div>
				<button type="button" class="btn_common_white mg_top10" ng-click="getCertifyNumber()" ng-disabled="certify_statue?'':''" ng-class="certify_statue?'':''">인증번호받기</button>
				<div class="in_input mg_top15">
					<input type="tel" ng-model="certifyKey" placeholder="인증번호 입력" ng-disabled="certify_statue?'':'disabled'" ng-class="certify_statue?'':'disabled'"/>
				</div>
				<button type="button" class="btn_common_blue_line mg_top15" ng-click="confirmCertify()" ng-disabled="certify_statue?'':'disabled'" ng-class="certify_statue?'':'disabled'">확인</button>
			</fieldset>
		</form>
	</div>
</section>