<div class="load megazine_view">
	<header class="header">
		<h1>건강 매거진</h1>
		<a href="javascript:;" ng-click="movePrevUrl();" class="btn_page_back"><img src="/images/aura_in_app/btn_page_back.png" alt="뒤로" /></a>
		<button class="btn_gnb" onclick="gnbShow()"></button>
	</header>
	<section class="gnb_wrap">
		<div class="dim_area" onclick="gnbHide()"></div>
		<button type="button" class="btn_layer_close" onclick="gnbHide()"></button>
		<div class="gnb_area">
			<div class="info_area">
				<img src="/images/aura_in_app/ico_gnb_home.png" alt="" class="ico_home" />
				<p class="name">{{home_id}}</p>
				<a href="javascript:;" class="btn_modify" ng-click="editHomeId()">변경하기</a>
			</div>
			<nav class="menu_area">
				<ul>
					<li><a href="#!/noti.html">공지사항</a></li>
					<li><a href="#!/qna/list.html">Q&amp;A</a></li>
					<li><a href="#!/app/info.html">정보</a></li>
					<li><a href="#!/qna/list.html">서비스문의</a></li>
					<li><a href="javascript:;" onclick="alert('고객센터로 문의하시기 바랍니다.\nTEL: 1544-1284 '); return false;">서비스탈퇴</a></li>
					<li><a href="javascript:;" ng-click="logout()">로그아웃</a></li>
				</ul>
			</nav>
		</div>
	</section>
	
	<article class="megazine_view_wrap">
		<div ng-scrollbars ng-scrollbars-config="config" style="width:340px; height:554px;">
			<div class="list">
				<div class="photo_wrap">
					<div class="swiper-wrapper">
						<div ng-if="slide.image" class="swiper-slide" ng-repeat="slide in images" >
							<img ng-src="{{slide.image}}" ng-show="slide.image !=''" width="340"/>
						</div>
					</div>
					<div class="indicator"></div>
				</div>
				<div class="cont_box">
					<p class="title">{{title}}</p>
					<p class="subject">{{subject}}</p>
					<p class="cont">{{content}}</p>
				</div>
			</div>
		</div>
	</article>
</div>