<div class="load school_news">
	<header class="header">
		<h1>학교정보알리미</h1>
		<a href="javascript:;" ng-click="movePrevUrl();" class="btn_page_back"><img src="/images/aura_in_app/btn_page_back.png" alt="뒤로" /></a>
		<button class="btn_gnb" onclick="gnbShow()"></button>
	</header>
	<section class="gnb_wrap">
		<div class="dim_area" onclick="gnbHide()"></div>
		<button type="button" class="btn_layer_close" onclick="gnbHide()"></button>
		<div class="gnb_area">
			<div class="info_area">
				<img src="/images/aura_in_app/ico_gnb_home.png" alt="" class="ico_home" />
				<p class="name">{{home_id}}</p>
				<a href="javascript:;" class="btn_modify" ng-click="editHomeId()">변경하기</a>
			</div>
			<nav class="menu_area">
				<ul>
					<li><a href="#!/noti.html">공지사항</a></li>
					<li><a href="#!/qna/list.html">Q&amp;A</a></li>
					<li><a href="#!/app/info.html">정보</a></li>
					<li><a href="#!/qna/list.html">서비스문의</a></li>
					<li><a href="javascript:;" onclick="alert('고객센터로 문의하시기 바랍니다.\nTEL: 1544-1284 '); return false;">서비스탈퇴</a></li>
					<li><a href="javascript:;" ng-click="logout()">로그아웃</a></li>
				</ul>
			</nav>
		</div>
	</section>
	
	<article class="school_info_wrap">
		<nav class="main_tab fix_tab">
			<ul>
				<li class="curr"><a href="javascript:;">가정통신문</a></li>
				<li><a href="#!/school/schedule.html">월간일정표</a></li>
				<li><a href="#!/school/noti.html">학교공지사항</a></li>
			</ul>
		</nav>
		<!-- 학교정보알리미 (가정통신문) -->
		<div ng-scrollbars ng-scrollbars-config="config" style="width:333px; height:500px;">
			<ul class="school_news_list">
				<li ng-repeat="row in noti_list">
					<div class="row_top">
						<p class="title">
							<span class="school">{{student_school_name}}</span>
							<span class="tit">가정통신문</span>
						</p>
						<p>
							<time class="date" datetime="2015-10-08">{{convertDate(row.noti_date)}}</time>
						</p>
					</div>
					<div class="row_middle">
						<p class="subject">{{row.title}}</p>
						<p class="cont">{{row.content}}</p>
						<a ng-href="{{getDownloadUrl(row.filename)}}" class="btn_file_download" target="_self">{{row.filename}}</a>
					</div>
					<div class="row_bottom">
						<button type="button" class="btn_scrap on" ng-if="row.member_id !=0" onclick="alert('이미 스크랩된 게시물입니다.');">스크랩</button>
						<button type="button" class="btn_scrap" ng-if="row.member_id == 0" ng-click="clipping(row)">스크랩</button>
						<button type="button" class="btn_share" onclick="alert('[스마트안전건강지킴이]앱을 이용하시기 바랍니다.'); return false;">공유</button>
					</div>
				</li>
			</ul>
		</div>
	</article>
</div>