<header class="header">
	<h1>체중변화</h1>
	<a href="javascript:;" ng-click="movePrevUrl();" class="btn_page_back"><img src="/images/aura_in_app/btn_page_back.png" alt="뒤로" /></a>
	<button class="btn_gnb" onclick="gnbShow()"></button>
</header>
<section class="gnb_wrap">
	<div class="dim_area" onclick="gnbHide()"></div>
	<button type="button" class="btn_layer_close" onclick="gnbHide()"></button>
	<div class="gnb_area">
		<div class="info_area">
			<img src="/images/aura_in_app/ico_gnb_home.png" alt="" class="ico_home" />
			<p class="name">{{home_id}}</p>
			<a href="javascript:;" class="btn_modify" ng-click="editHomeId()">변경하기</a>
		</div>
		<nav class="menu_area">
			<ul>
				<li><a href="#!/noti.html">공지사항</a></li>
				<li><a href="#!/qna/list.html">Q&amp;A</a></li>
				<li><a href="#!/app/info.html">정보</a></li>
				<li><a href="#!/qna/list.html">서비스문의</a></li>
				<li><a href="javascript:;" onclick="alert('고객센터로 문의하시기 바랍니다.\nTEL: 1544-1284 '); return false;">서비스탈퇴</a></li>
				<li><a href="javascript:;" ng-click="logout()">로그아웃</a></li>
			</ul>
		</nav>
	</div>
</section>

<article class="growth_main_wrap">
	<div class="row_top">
		<p class="title"><span class="name">{{student_name}}님</span>의 체중변화 정보입니다.</p>
		<a href="javascript:;" class="btn_detail_view" ng-show="history_count == 0" onclick="alert('2번 이상 측정 시 보여집니다.');"><img src="/images/aura_in_app/ico_chart.png" alt="" /> 상세이력</a>
		<a href="#!/weight/history.html?y={{measure_year}}" class="btn_detail_view" ng-show="history_count > 0"><img src="/images/aura_in_app/ico_chart.png" alt="" /> 상세이력</a>
	</div>
	<div class="row_middle">
		<div class="chart_area">
			<div class="row_label">
				<span><em>120.0</em></span>
				<span><em>110.0</em></span>
				<span><em>100.0</em></span>
				<span><em>90.0</em></span>
				<span><em>80.0</em></span>
				<span><em>70.0</em></span>
				<span><em>60.0</em></span>
				<span><em>50.0</em></span>
				<span><em>40.0</em></span>
				<span><em>30.0</em></span>
			</div>
			<div class="chart">
				<div class="data01"><span><em>{{growth_info.value}}</em></span></div>
				<div class="data02"><span><em>{{growth_info.averageOfStandard}}</em></span></div>
				<div class="data03"><span><em>{{growth_info.averageOfSchool}}</em></span></div>
				<div class="data04"><span><em>{{growth_info.averageOfLocal}}</em></span></div>
				<div class="data05"><span><em>{{growth_info.averageOfNation}}</em></span></div>
			</div>
		</div>
		<div class="col_label">
			<span>나</span>
			<span>표준</span>
			<span>학교평균</span>
			<span>지역평균</span>
			<span>전국평균</span>
		</div>
	</div>
	<div class="row_bottom">
		<dl class="data01">
			<dt>전국 백분율</dt>
			<dd>상위 {{growth_info.rank}}%</dd>
		</dl>
		<dl class="data02">
			<dt>전월 대비</dt>
			<dd>{{convertRound(growth_info.value - growth_info.beforeValue)}}kg증가</dd>
		</dl>
		<dl class="data03">
			<dt>종합평가</dt>
			<dd>{{growth_info.gradeString}}</dd>
		</dl>
	</div>
	<a href="#!/training.html?p={{growth_info.gradeId}}" class="btn_recommend_exercise"><img src="/images/aura_in_app/img_health_tool.png" alt=""> 체중 추천 운동</a>
</article>