<section id="container">
	<div class="bg"><img src="/SmartCare/images/common/img_main_people.png" alt="" /></div>
	<div class="img_phone"></div>
	<div class="video_wrap">
		<video class="video_area" controls>
			<source src="/SmartCare/data/main_video.mp4" type="video/mp4">
			<object width="416" height="233">
				<param name="movie" value="/SmartCare/data/main_video.mp4"></param>
				<param name="allowFullScreen" value="true"></param>
				<param name="allowscriptaccess" value="always"></param>
				<embed src="/SmartCare/data/main_video.mp4" type="application/x-shockwave-flash" width="416" height="233" allowscriptaccess="always" allowfullscreen="true">
				</embed>
			</object>
		</video>
	</div>
	<p class="slogan">
		<img src="/SmartCare/images/common/txt_main_slogan.png" alt="스마트안전건강지킴이는 아동청소년의 안전하고 건강한 생황을 위해 '건강, 안전, 학교정보, 상담'을
	책임질 통합솔루션입니다." />
	</p>
</section>