<!doctype html>
<html lang="ko" ng-app="hybrid">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta property="og:title" content="스마트안전건강지킴이">
		<meta name="format-detection" content="telephone=no">
		<title>AURA</title>
		<link rel="stylesheet" href="/css/reset.css">
		<link rel="stylesheet" href="/css/hybrid.reset.css">
		<link rel="stylesheet" href="/css/hybrid.common.css">
		<link rel="stylesheet" href="/css/ng-img-crop.css">
		
		<!-- jQuery  -->
		<script src="/js/jquery/jquery.1.11.2.min.js"></script>
		<script src="/js/jquery/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="/js/jquery/idangerous.swiper-1.9.1.min.js"></script>
		
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqKOw9hk5PYAZEiUGVVlQXrAZxcCptLo0&region=KR"></script>
		
		<!-- Angular JS -->
		<script src="/js/angularjs/1.4.7/angular.min.js"></script>
		<script src="/js/angularjs/1.4.7/angular-animate.min.js"></script>
		<script src="/js/angularjs/1.4.7/angular-touch.js"></script>
		<script src="/js/angularjs/1.4.7/angular-route.js"></script>
		<script src="/js/angularjs/1.4.7/angular-cookies.js"></script>
		<script src="/js/angularjs/1.5.0-beta.1/angular-sanitize.js"></script>
		<script src="/js/angularjs/ng-file-upload-shim.min.js"></script>
		<script src="/js/angularjs/ng-file-upload.min.js"></script>
		
		<!-- scrollbar -->
		<link rel="stylesheet" href="/ng-scrollbars-gh-pages/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" type="text/css"/>
		<script src="/ng-scrollbars-gh-pages/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
		<script src="/ng-scrollbars-gh-pages/bower_components/ng-scrollbars/src/scrollbars.js"></script>
		<script src="/ng-scrollbars-gh-pages/javascripts/highlight.js"></script>
		
		<!-- kakaotalk -->
		<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
		
		<script src="/js/hybrid/native_support.js" charset="utf-8"></script>
		<script src="/js/hybrid/utility.js" charset="utf-8"></script>
		<script src="/js/hybrid/common.js" charset="utf-8"></script>
		<script src="/js/hybrid.app.js" charset="utf-8"></script>
		
		<script type="text/javascript">
		</script>
		<base href="/hybrid/index.html" />
	</head>
	
	<body ng-class="badyClass" ng-controller="MainCtrl">
		<header class="header" ng-show="loggedIn()">
			<h1>{{header_title}}</h1>
			<a href="javascript:;" class="btn_page_back" ng-click="historyBack()" ng-if="backBtnSttus"><img src="/images/aura_in_app/btn_page_back.png" alt="뒤로"></a>
			<button class="btn_gnb" onclick="gnbShow()" ng-if="menu_yn"></button>
		</header>
		
		<section class="gnb_wrap">
			<div class="dim_area" onclick="gnbHide()"></div>
			<button type="button" class="btn_layer_close" onclick="gnbHide()"></button>
			<div class="gnb_area">
				<div class="info_area">
					<img src="/images/aura_in_app/ico_gnb_home.png" alt="" class="ico_home">
					<p class="name">{{home_id}}</p>
					<a href="javascript:;" class="btn_modify" onclick="gnbHide(); commonLayerOpen('family_modify');">변경하기</a>
				</div>
				<nav class="menu_area">
					 <ul>
						<li><a href="#!/noti" onclick="gnbHide();">공지사항</a></li>
						<li><a href="#!/qna" onclick="gnbHide();">Q&amp;A</a></li>
						<li><a href="#!/info" onclick="gnbHide();">정보</a></li>
						<li><a href="#!/inquiry" onclick="gnbHide();">서비스문의</a></li>
						<li><a href="javascript:;" onclick="gnbHide();">서비스탈퇴</a></li>
						<li><a href="javascript:;" ng-click="logout()">로그아웃</a></li>
					 </ul>
				</nav>
			</div>
		</section>
		
		<section class="common_layer family_modify">
			<div class="dim_area" onclick="commonLayerClose('family_modify')"></div>
			<div class="layer_box">
				<h3>가족명 변경</h3>
				<form id="">
					<fieldset>
						<legend class="screen_out">변경할 가족명 입력</legend>
						<div class="in_input mg_top15">
							<input type="text" ng-model="new_home_id" placeholder="가족명을 입력하세요." />
						</div>
						<div class="half_wrap mg_top10">
							<button type="submit" class="btn_common_blue" ng-click="modHomeId()">확인</button>
							<button type="button" class="btn_common_blue_line" onclick="commonLayerClose('family_modify')">취소</button>
						</div>
					</fieldset>
				</form>
			</div>
		</section>
		
		<div id="loadWrapper">
			<ng-view></ng-view>
		</div>
	</body>
</html>